@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.res-pad-x {
    padding-left: clamp(1rem, 5vw, 5rem);
    padding-right: clamp(1rem, 5vw, 5rem);
}

.res-pad-y {
    padding-top: clamp(1rem, 10vh, 6rem);
    padding-bottom: clamp(1rem, 10vh, 6rem);
}

.res-heading-sm {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.res-heading-lg {
    font-size: clamp(3rem, 7vw + 1rem, 7rem);
}

.res-paragraph {
    font-size: clamp(1rem, 2.25vw, 2rem);
}

p {
    font-size: clamp(1.25rem, 2.5vw, 2rem);
}